body {
    padding-top: 5rem;
     background-color: rgb(207, 238, 248);

}

#form{
    background-color: white;
    border-top: 3px solid blue ;
    border-radius: 10px;
    padding:45px;
    padding-right: 250px;
}

#addprofilebtn{
    background-color: rgb(155, 255, 88);
    font-weight: bold;
    border-color: rgb(155, 255, 88);
}

.profiles{
    background-color: white;
    border-radius: 10px;
    border-top: 3px solid blue ;
    display: flex ;
    align-items: center;
    width: min-content;
    padding: 20px;
    margin-bottom: 30px;
}

.profilepic{
    height:150px;
    width:150px;
}

.profileinfo{
    margin-right: 100px;
    width: 300px;
}

#workercontainer{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.icon{
    height: 25px;
    width: 25px;
}

.viewbtn{
    background-color: rgb(155, 255, 88);
    font-weight: bold;
    border-color: rgb(155, 255, 88);
    
}

.pic{
    margin-right: 40px;
}

.bold{
    font-weight: bold;

}

.grey{
    color:grey;
}

#soloprofile{
    display: grid;
    grid-template-rows: auto auto;
    background-color: white;
    border-radius: 10px;
    border-top: 3px solid blue ;
    padding: 30px;
    width: 700px;
}

#profilepicture{
    height: 250px;
    width: 250px;
    margin-right: 40px;
    margin-bottom: 30px;
}


#user{
    display:flex;
    align-items: center;

}

#btns{
    display: flex;
    align-items: center;
    justify-content: center;
}

#send{
    margin-right: 25px;
    background-color: rgb(155, 255, 88);
    font-weight: bold;
    border-color: rgb(155, 255, 88);
    width: 200px;

}

#follow{
    margin-left:25px ;
    width: 200px;
    font-weight: bold;

}

#bio{
    width: 500px;
}

#forecasts{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.dayforecast{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(236, 230, 230);
    border-radius: 10px;
    border: 3px solid black ;
    padding: 30px;
    margin-bottom: 50px;
    width: auto;
}

.threehourforecast {
    background-color: white;
    border-radius: 10px;
    border-top: 3px solid blue ;
    padding: 10px;
    width: 250px;
    font-size: smaller;
    margin-top: 10px;
    margin-bottom: 10px;
}

.weathericon {
    height: 150px;
    width: 150px;
}

.weathericoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sendemails{
    display: flex;
    justify-content: center;
    align-items: center;
}